<body>

  <app-header></app-header>

  <main id="about">

    <h1 class="lg-heading">
      About <span style="color:rgb(240, 80, 106)">Me</span>
    </h1>
    <br>
    <h2 class="sm-heading"></h2>
    <br>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="30%">
        <img class="img" src="https://drive.google.com/drive/folders/1TGmZfPVP2XsIdhITASivki4aLkDVmrGr" alt="Peyman Iravani">
      </div>
      <br>
      <div fxFlex="15%">
        <button class="button"><a href="https://drive.google.com/drive/folders/1TGmZfPVP2XsIdhITASivki4aLkDVmrGr"
            target="_blank">Resume</a></button>
        <div class="icon">
          <a href="https://twitter.com/workingbee90" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://www.linkedin.com/in/peyman-iravani-3914504b/" target="_blank"><i
              class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://github.com/eddieir" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </div>
      </div>
      <br>
      <div fxFlex="55%">
        <mat-card class="about1-card">
          <mat-card-content>
            <p>
              My journy at the software world started from the first year of the Bachelor at <strong>Damavand Islamic
                Azad University</strong>. I started this path with C programming language and after that I continue to
              learn C++ and C#.
              After that I started my master at <strong>Polytechnic of Turin</strong> and during the master studies I
              started to learning <strong>Python</strong> that changed my life and opened the window toward the data
              science and Machine learning world, as well as it helped me to do my thesis at RWTH university of Aachen
              with the title of "Using machine learning fir predicting and optimizating the consumed power inside the
              datacenter"
              After finishing my master thesis, I started the Angular and <strong>Reactjs as well as HTML5,CSS3 and
                SCSS</strong> which caused to starting the frontend developer carrier and at long story short now I am
              the frontend developer and Python automation engineer
            </p>
            <!---<p>Began collecting comic books back in 1970, thinking "I'm going to invent a better time machine than
              Brainiac 5!" <strong>48 years later</strong> - no, not really. But, now... A "software engineer" with
              looking to leave a better world for his girls.<br><a href="https://www.hyochangkim.com/about-me/"
                target="_blank"><strong><em>My past life here...</em></strong></a></p>!--->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br>
    <br>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="33%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">Academics</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Master of Computer and communciation network engineering<br> - Polytechnic of Turin - Turin - Italy</p>
            <p>Bachelor of software engineering <br> - Damavand Islamic Azad University - Damavand - Iran</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="34%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">Work Experience</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Software Enginner - Frontend developer - QA Enginner</p>
            <p>NLP developer - Vodafone</p>
            <p>Backend developer - Bosch</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </main>

  <app-footer></app-footer>

</body>