<body id="bg-img">
  <app-header></app-header>

  <main id="contact">

    <h1 class="lg-heading">
      Connect With <span style="color:rgb(240, 80, 106)">Me</span>
    </h1>
    <br>
    <h1 class="lg-heading">
      <div class="icons">
        <a href="mailto:peyman.iravani@gmail.com">
          <img src="https://img.icons8.com/dusk/118/000000/email.png">
        </a>
      </div>
      <div class="icons">
        <a href="https://twitter.com/workingbee90" target="_blank">
          <img src="https://img.icons8.com/dusk/128/000000/twitter.png">
        </a>
      </div>
      <div class="icons">
        <a href="https://www.linkedin.com/in/peyman-iravani-3914504b/" target="_blank">
          <img src="https://img.icons8.com/dusk/118/000000/linkedin.png">
        </a>
      </div>
      <div class="icons">
        <a href="https://github.com/eddieir" target="_blank">
          <img src="https://img.icons8.com/doodle/118/000000/github--v2.png">
        </a>
      </div>
    </h1>


  </main>
  <app-footer></app-footer>
</body>