h1{
    font-family: 'Montserrat,sans-serif';
    letter-spacing: 1px;
    margin:0;
}

h2{
    font-family: 'Montserrat,sans-serif';
    letter-spacing: 1px;
    margin: 0;
}

.header .caption-img{
    width:100px;
    height:100px;
    background: 0 0;
    margin-bottom: 20px;
}
.rounded-circle{
    border-radius: 50% !important;
}
img{
    vertical-align: middle;
}