<body>
  <app-header></app-header>
  <main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="lg-heading">
      Hi, I'm Peyman Iravani
    </h1>
    <h2 class="sm-heading">
      Front-end developer, Machine learning enginner, QA Engineer
    </h2>

    <div style="text-align: center;">
      <div class="icons">
        <a href="mailto:peyman.iravani@gmail.com">
          <img src="https://img.icons8.com/dusk/118/000000/email.png">
        </a>
      </div>
      <div class="icons">
        <a href="https://twitter.com/workingbee90" target="_blank">
          <img src="https://img.icons8.com/dusk/128/000000/twitter.png">
        </a>
      </div>
      <div class="icons">
        <a href="https://www.linkedin.com/in/peyman-iravani-3914504b/" target="_blank">
          <img src="https://img.icons8.com/dusk/118/000000/linkedin.png">
        </a>
      </div>
      <div class="icons">
        <a href="https://github.com/eddieir" target="_blank">
          <img src="https://img.icons8.com/doodle/118/000000/github--v2.png">
        </a>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</body>