<body>
  <app-header></app-header>
  <main>
    <h1 class="lg-heading">
      Hyo Chang <span style="color:rgb(240, 80, 106)">Kim</span>
    </h1>
    <br>
    <h2 class="sm-heading">
      Software Engineer, Web Developer, Being the Best Dad I can be...
    </h2>
    <div style="text-align: center;">
      <div class="icons">
        <a href="https://twitter.com/workingbee90" target="_blank">
          <i class="fab fa-twitter fa-4x"></i>
        </a>
      </div>
      <div class="icons">
        <a href="https://www.linkedin.com/in/peyman-iravani-3914504b/" target="_blank">
          <i class="fab fa-linkedin fa-4x"></i>
        </a>
      </div>
      <div class="icons">
        <a href="https://github.com/eddieir" target="_blank">
          <i class="fab fa-github fa-4x"></i>
        </a>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</body>