<body>

  <app-header></app-header>

  <br>

  <main>

    <h1 class="lg-heading">
      My <span style="color:rgb(240, 80, 106)">Projects</span>
    </h1>
    <br>
    <h2 class="sm-heading">
      Check out some of my projects...
    </h2>

    <br>

    <div class="container" style="height: 100%;" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px"
      fxLayoutAlign="space-evenly none">
      <div fxFlex="33%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">Hayola App</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Deep learning application which ables to generate HTML and CSS from the inputed photo
            </p>
          </mat-card-content>
          <mat-card-actions>
            <img src="../../assets/images/3d33b517d5cb58550dfefdafd9f2f905.jpg">
            <button mat-button><a href="https://github.com/eddieir/Hayola" target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="43%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">live twitter sentiment analysis</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <p>
              This project is working based on the scraped Twitter data and doing the sentiment analysis for both
              cases of normal sentiment and sentiment analysis with mood
            </p>
          </mat-card-content>
          <mat-card-actions>
            <img src='../../assets/images/Screenshot from 2019-11-18 22-02-30 (1).jpg'>
            <button mat-button><a href="https://github.com/eddieir/live_twitter_sentiment_analysis"
                target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="34%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">Calculator</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/images/calculator.jpg" alt="Calculator">
          <mat-card-content>
            <p>
              Calculator using JavaScript logic.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button><a href="https://hckim16.github.io/freeCodeCamp-JavaScript-Calculator"
                target="_blank">Demo</a></button>
            <button mat-button><a href="https://github.com/hckim16/freeCodeCamp-JavaScript-Calculator"
                target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <br>
    <br>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center">
      <div fxFlex="33%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">Simon Game</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/images/simon.jpg" alt="Simon Game">
          <mat-card-content>
            <p>
              Soon to be Added
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button><a href="#" target="_blank">Demo</a></button>
            <button mat-button><a href="https://github.com/hckim16/simon" target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="33%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">Wikipedia Viewer</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/images//wiki.jpg" alt="Wikipedia Viewer">
          <mat-card-content>
            <p>
              Soon to be Added
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button><a href="#" target="_blank">Demo</a></button>
            <button mat-button><a href="https://github.com/hckim16/freeCodeCamp-Wikipedia-Viewer"
                target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="34%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">Pomodoro Clock</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/images/pommodoro.jpg" alt="Pomodoro Clock">
          <mat-card-content>
            <p>
              Soon to be Added
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button><a href="#" target="_blank">Demo</a></button>
            <button mat-button><a href="https://github.com/hckim16/freeCodeCamp-Pomodoro-clock"
                target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </main>

  <br>

  <app-footer></app-footer>

</body>