<body>

  <app-header></app-header>

  <br>

  <main>

    <h1 class="lg-heading">
      My <span style="color:rgb(240, 80, 106)">Projects</span>
    </h1>
    <br>
    <h2 class="sm-heading">
      Here is some of my projects ...
    </h2>

    <br>

    <div class="container" style="height: 100%;" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px"
      fxLayoutAlign="space-evenly none">
      <div fxFlex="33%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">Hayola App</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Deep learning application which ables to generate HTML and CSS from the inputed photo
            </p>
          </mat-card-content>
          <mat-card-actions>
            <img src="https://raw.githubusercontent.com/eddieir/Peyman_Portfolio/master/src/assets/images/3d33b517d5cb58550dfefdafd9f2f905.jpg" >
            <button mat-button><a href="https://github.com/eddieir/Hayola" target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="43%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">live twitter sentiment analysis</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <p>
              This project is working based on the scraped Twitter data and doing the sentiment analysis for both
              cases of normal sentiment and sentiment analysis with mood
            </p>
          </mat-card-content>
          <mat-card-actions>
            <img src='https://raw.githubusercontent.com/eddieir/Peyman_Portfolio/master/src/assets/images/Screenshot%20from%202019-11-18%2022-02-30%20(1).jpg'>
            <button mat-button><a href="https://github.com/eddieir/live_twitter_sentiment_analysis"
                target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="34%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">Image to text</mat-card-title>
          </mat-card-header>
          <p>
            This is the project which takes photos and generate text
          </p>
          <img mat-card-image src="https://icon-library.net/images/ocr-icon/ocr-icon-29.jpg" alt="Calculator">
          <mat-card-actions>
            <button mat-button><a href="https://github.com/eddieir/Image_to_Text" target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <br>
    <br>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center">
      <div fxFlex="33%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">Youtube Scraping and analysis</mat-card-title>
          </mat-card-header>
          <p>
            Scraping and analysing Youtube data
          </p>
          <img mat-card-image src="https://image.flaticon.com/icons/svg/124/124015.svg">
          <mat-card-actions>
            <button mat-button><a href="https://github.com/eddieir/youtube_Scraping_And_Analysis"
                target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="33%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">Recommendation system</mat-card-title>
          </mat-card-header>
          <p>
            This project covers Book,Film Recommendation
          </p>
          <img mat-card-image
            src="https://532386f9a72d1dd857a8-41058da2837557ec5bfc3b00e1f6cf43.ssl.cf5.rackcdn.com/wp-content/uploads/2016/09/ecommerce3-e1473124048956.jpg">
          <mat-card-actions>

            <button mat-button><a href="https://github.com/eddieir/Recommendation_systems"
                target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="34%">
        <mat-card class="project-card">
          <mat-card-header class="project-header">
            <mat-card-title class="project-title">Super mario game</mat-card-title>
          </mat-card-header>
          <p>
            Super mario 2D canvas game with HTML5 and CSS3
          </p>
          <img mat-card-image src="https://icon-library.net/images/super-mario-icon/super-mario-icon-25.jpg">
          <mat-card-actions>
            <button mat-button><a href="https://github.com/eddieir/supermario-game" target="_blank">Code</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </main>

  <br>

  <app-footer></app-footer>

</body>